<section class="container">
    <div class="jumbotron ">


        <!-- Custom styles for this template -->

        <body class="text-center form-signin">

            <main class="form-signin">


                <form #loginForm="ngForm" (ngSubmit)="onLogin()">


                    <h1 class="h3 mb-3 fw-normal">Login</h1>

                    <div class="form-floating">
                        <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com" [(ngModel)]="loginModel.email">
                        <label for="floatingInput">Email</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" name="password" id="password" placeholder="senha" [(ngModel)]="loginModel.password">
                        <label for="floatingPassword">Senha</label>
                    </div>

                    <div class="checkbox mb-3">
                        <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                    </div>

                    <input class="btn btn-success" type="submit" id="botao-enviar" value="Logar">

                </form>
                <p id="mensagem" *ngIf="mensagem !='' ">{{mensagem}}</p>

            </main>



        </body>
    </div>
</section>